# --- Python Virtual Environment ---
.venv/
venv/
ENV/

# --- Python Cache & Bytecode ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Testing Cache ---
.pytest_cache/

# --- IDE & Editor Settings ---
.vscode/
.idea/

# --- OS-specific system data ---
Thumbs.db
ehthumbs.db
Desktop.ini